body {}

main {
    min-width: 480px;
    margin: 0 auto;
    max-width:767px;
}

.col-2 {
    width: 50%;
    float:left;
}

footer {clear:both;}

@media (min-width:768px) {

    
    
} /* end desktop