.grid-page {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-gap:0px;
    grid-template-columns: 1fr;
    grid-template-rows:
        75px 150px 250px 500px 80px;

    grid-template-areas:
        'header'
        'aside'
        'heroes'
        'articles'
        'footer';
}

.grid-page header {
    grid-area: header;
}

.grid-page aside {
    grid-area: aside;
    line-height: 150px;
}

.heroes {
    grid-area: heroes;

}

.articles {
    grid-area: articles;
}

.grid-page footer {
    grid-area: footer;

}


@media (min-width:768px) {

    .grid-page {
        margin: 0 auto;
        width: 768px;
        grid-template-columns: 1fr;
        grid-template-rows:
            75px 150px 125px 500px 80px;
    }

    .grid-page aside {
        grid-area: aside;
    }

    .heroes {
        display: flex;
        width:auto;

    }

    .hero {
        flex-basis:50%;
        /* flex-grow:1; */
    }

    .articles {
        display: flex;
    }

    .articles article {
        flex-basis:25%;
        /* flex-grow:1; */
    }

}


@media (min-width:1023px) {

    .grid-page {
        width: 960px;
    }

    .grid-page {
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows:
            75px 200px 250px 150px;
        grid-template-areas:
            'header header header header'
            'aside heroes heroes heroes'
            'aside articles articles articles'
            'aside footer footer footer';

    }

    .grid-page .main {
        grid-column: 2 / 4;
        width:auto;
    }

}