header {
    line-height: 75px;
}

aside {
    line-height: 150px;
}

.hero {
    line-height: 125px;
}

article {

    line-height: 250px;

}

footer {
    line-height: 80px;
}

@media (min-width:768px) {

    .hero {
        line-height: 200px;
    }

    aside {
        line-height: 600px;
    }

    .articles > article {
        line-height: 250px;
    }

    footer {
    line-height: 150px;
        
    }

}

@media (min-width:1023px) {

}